html {
  background-color: white;
}
body {
  height: 400px;
  width: 250px;
  border: solid 1px red;
  box-shadow: 0px 0px 10px blue;
  transition: all 0.5s;
  background-color: #192b30;
  position: relative;
}

.handleChange {
  background-color: #e4e4e4;
  position: relative;
  height: 30px;
  width: 60px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
}
.toggle {
  height: 30px;
  width: 30px;
  margin: 0;
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s;
}

.on {
  background-color: blue;
  left: 35px;
  transform: scale(0);
}
.off {
  background-color: red;
}

.isOn {
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
}

.time-inative {
  margin-top: 20px;
}
.time-inative > input {
  width: 80%;
  padding: 4px;
  margin-top: 5px;
}
.aplicar {
  border: none;
  padding: 10px;
  background-color: #198754;
  margin-top: 10px;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
}
.aplicar:hover {
  background-color: #059a55;
}
hr {
  margin: 40px;
  margin-left: 0;
  margin-right: 0;
  border-color: #ffffff80;
} 

footer {
  text-align: center;
  margin-top: 70px;
}


/*  Configurações  */
.configs {
  height: 400px;
  width: 250px;
  position: absolute;
  top: 0px;
  background-color: white;
  margin-left: -260px;
  transition: all 0.5s;
}
.body-configs {
  margin: 20px;
}
.icon-close {
  padding: 5px;
  cursor: pointer;
}
.icon-config {
  color: white;
}
.text-configs {
  line-height: 25px;
}
.active-configs {
  width: max-content;
  margin: auto;
  cursor: pointer;
}

/* ALL CLASSES */

.text-white {
  color:  white !important;
}
.inline {
  display: inline-block;
}
.float-left {
  float: left;
}
.flex {
  display: flex;
}
.text-rith {
  text-align: right;
}